<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd 
			http://www.springframework.org/schema/context 
			http://www.springframework.org/schema/context/spring-context-4.0.xsd 
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">
			
			
	    <!-- 学习计划  表 -->
	    <bean id="plansDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	    	<property name="mapperInterface" value="com.cuit.secims.mw.dao.IStudyPlanDao" />
	    </bean>
	    
	    <!-- 学习计划 详细表  -->
	    <bean id="planDetailsDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	    	<property name="mapperInterface" value="com.cuit.secims.mw.dao.IStudyPlanDetailDao" />
	    </bean>
	    
	     <!-- 月评考核管理表  -->
	    <bean id="monthDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	    	<property name="mapperInterface" value="com.cuit.secims.mw.dao.IMonthReviewDao" />
	    </bean>
	    
	    
	    <!-- 周报  -->
	    <bean id="weeklyDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	    	<property name="mapperInterface" value="com.cuit.secims.mw.dao.IWorkReportDao" />
	    </bean>
	    
	    
	    <!-- 学习论坛  -->
	    <bean id="forumDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	    	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	    	<property name="mapperInterface" value="com.cuit.secims.mw.dao.ILearningForumDao" />
	    </bean>
    
		
		
		
</beans>			