<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.cuit.secims.mw.dao.ILearningForumDao">


	<!-- ========= 帖子 =========== -->

	<resultMap type="LearningForumPosts" id="ForumPostsAndMsg">
	
		<id property="postsId" column="postsId" />
		<result property="title" column="title" />
		<result property="type" column="type" />
		<result property="content" column="content" />
		<result property="createTime" column="createTime" />
		<result property="userid" column="userid" />
		<result property="browseNum" column="browseNum" />
		<result property="answerNum" column="answerNum" />
		<result property="status" column="status" />
		
		
		<!-- 论坛帖子 对应的 聊天记录 -->
		<collection property="chatMsgs" resultMap="ChatMsgResultMap" />
		
	</resultMap> 
	
	
	<!-- ========= 聊天消息 =========== -->
	
	<resultMap type="LearningForumChatMsg" id="ChatMsgResultMap">
	
		<id property="msgId" column="msgId" />
		<result property="postsId" column="postsId" />
		<result property="msgContent" column="msgContent" />
		<result property="sendTime" column="sendTime" />
		<result property="userid" column="reply" />
		<result property="parentId" column="parentId" />
		<result property="status" column="msgStatus" />
		
	</resultMap> 
	


	<!-- ====== 具体的一些操作 ======= -->
	
	
	<!--  倒序获取 所有的帖子 -->
	<select id="getForumPostsAll" resultType="LearningForumPosts">
		<![CDATA[
			SELECT * 
			FROM SECIMS.LearningForumPosts p 
			ORDER BY p.createTime DESC
		]]>
	</select>
	
	
	<!--  倒序获取 我的帖子 -->
	<select id="getForumPostsByUserId" resultType="LearningForumPosts" parameterType="int">
		<![CDATA[
			SELECT * 
			FROM SECIMS.LearningForumPosts p 
			WHERE p.userid = #{userid}
			ORDER BY p.createTime DESC
		]]>
	</select>
	
	<!--  倒序获取 我的回复的帖子 -->
	<select id="getForumPostsByUserReply" resultType="LearningForumPosts" parameterType="int">
		<![CDATA[
			SELECT DISTINCT p.*
			FROM secims.`learningforumposts` p , 
			     secims.`learningforumchatmsg` m
			WHERE p.`postsId` = m.`postsId` AND m.`userid` = #{userid} 
			ORDER BY m.sendTime DESC ;
		]]>
	</select>

	
	
	<!-- 根据ID获取帖子信息 -->
	<select id="getForumPostsById" resultMap="ForumPostsAndMsg" parameterType="int">
		<![CDATA[
			SELECT p.*,
					m.`msgId`,
					m.`msgContent`,
					m.`parentId`,
					m.`sendTime`,
					m.`userid` reply,
					m.`status` msgStatus 
			FROM secims.`learningforumposts` p 
			LEFT JOIN secims.`learningforumchatmsg` m
			ON p.`postsId` = m.`postsId` 
			WHERE p.postsId = #{postsId}
		]]>
	</select>
	
	
	<!-- 按照条件/类型查找帖子 -->
	<select id="getForumPostsByconditions" resultType="LearningForumPosts">
		SELECT * FROM SECIMS.LearningForumPosts p 
		<where>
			<if test="type != null"> and p.type = #{type} </if>
			<if test="userid != null"> and p.userid = #{userid} </if>
		</where>
		ORDER BY p.`createTime` DESC
	</select>
	
	
	
	<!-- 发布 话题/增加 论坛帖子 -->
	<insert id="addForumPosts" parameterType="LearningForumPosts">
		<![CDATA[
			INSERT INTO SECIMS.`learningforumposts`(title,type,content,userid,status) 
			VALUES(#{title},#{type},#{content},#{userid},#{status});
		]]>
	</insert>
	
	
	
	<!--  更新访问量 -->
	<update id="addBrowseNum" parameterType="int">
		UPDATE SECIMS.LearningForumPosts p 
		SET p.`browseNum` = p.`browseNum` + 1 
		WHERE p.postsId = #{postsId}
	</update>
	
	
	<!--  更新回复量 -->
	<update id="addAnswerNum" parameterType="int">
		UPDATE SECIMS.LearningForumPosts p 
		SET p.`answerNum` = p.`answerNum` + 1 
		WHERE p.postsId = #{postsId}
	</update>
	
	
	
	<!--  根据帖子ID 删除帖子 -->
	<delete id="delForumPosts" parameterType="int">
		<![CDATA[
			DELETE p.*,m.*
			FROM SECIMS.`learningforumposts` p LEFT JOIN SECIMS.`learningforumchatmsg` m
			ON p.`postsId` = m.`postsId`
			WHERE p.`postsId` = #{postsId} 
		]]>
		
	</delete>
	
	
	
	
	<!-- ######################  帖子消息  ####################### -->
	
	<insert id="addForumChatMsg" parameterType="map">
		<![CDATA[
			INSERT INTO SECIMS.`LearningForumChatMsg`(postsId,msgContent,userid,parentId)
			VALUES(#{postsId},#{msgContent},#{userid},#{parentId})
		]]>
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>