<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.cuit.secims.mw.dao.IMonthReviewDao">


	<!-- ========= 结果集 =========== -->

	<!-- 最基本的 学习计划  -->
	<resultMap type="MonthReview" id="monthBasic">
	
		<id property="reviewId" column="reviewId" />
		<result property="userid" column="userid" />
		<result property="monthTitle" column="monthTitle" />
		<result property="monthFileURL" column="monthFileURL" />
		<result property="createTime" column="createTime" />
		
	</resultMap>
	
	


	<!-- ====== 具体的一些操作 ======= -->
	
	<!-- 查询 月评PPT 情况 -->
	<select id="getMonthByUserId" parameterType="int" resultType="MonthReview">
	
		<![CDATA[
			SELECT * FROM SECIMS.MonthReview r WHERE r.userid = #{userid} ORDER BY reviewId DESC
		]]>
	
	</select>
	
	
	<!-- 增加月评PPT -->
	<insert id="addMonthReview" parameterType="MonthReview">
		
		<![CDATA[
			INSERT INTO SECIMS.MonthReview(userid,monthTitle,monthFileURL) 
				VALUES(#{userid},#{monthTitle},#{monthFileURL})
		]]>
	
	</insert>
	
	
	<!-- 删除 上传月评PPT情况 -->
	<delete id="delMonth" parameterType="int">
	
		<![CDATA[
			DELETE FROM SECIMS.MonthReview WHERE reviewId = #{id}
		]]>
		
	</delete>
	
	
	
	
	
	
	<!-- #################### 企业导师管理 月评 相关 操作  ####################### -->
	
	<!-- 企业导师 打分评论 -->
	<insert id="tutorMonthAddComment" parameterType="map">
		INSERT INTO SECIMS.MonthReviewResult (reviewId,userId,roleType,result,comment)
		VALUES(#{reviewId},#{userId},#{roleType},#{result},#{comment})
	</insert>
	
	<!-- 企业导师 修改打分评论  -->
	<update id="tutorMonthModifyComment" parameterType="map">
		UPDATE SECIMS.MonthReviewResult 
		<set>
			<if test="score != null">result = #{result} ,</if>
			<if test="comment != null">comment = #{comment}</if>
		</set>
		WHERE reviewId = #{reviewId}  AND userId = #{userId}
	</update>
	
	
	<!-- 判断 导师 是否 已经评论了 -->
	<select id="isExistsMonthComment" parameterType="map" resultType="int">
		SELECT COUNT(0) FROM SECIMS.MonthReviewResult C
		WHERE C.reviewId = #{reviewId} AND C.userId = #{userId}
	</select>
	
	
	<!-- 获取 月评 评论 -->
	<select id="getMonthReviewResult" parameterType="map" resultType="MonthReviewResult">
		SELECT * FROM SECIMS.MonthReviewResult c
		<where>
			<if test="reviewId != null">reviewId=#{reviewId}</if>
			<if test="userId != null">AND userId=#{userId}</if>
			<if test="roleType != null">AND roleType=#{roleType}</if>
		</where>
	</select>
	
	
	
	
</mapper>