body{
	background: url(../../images/1.jpg) no-repeat 0px 0px;
	background-size:cover;
	margin-left:auto;  
	margin-right:auto; 
	margin-TOP:15em; 
	width:20em;  
}
.login {
	background: #2b2b36;
	position: relative;
	width: 100%;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
}
